html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%; }

.row {
  overflow: auto;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 320px; }
  @media screen and (min-width: 720px) {
    .row {
      width: 720px; } }
  @media screen and (min-width: 960px) {
    .row {
      width: 960px; } }

.column, .columns {
  margin-left: 10px;
  margin-right: 10px;
  float: left; }
  .column.without-margin, .columns.without-margin {
    margin-left: 0;
    margin-right: 0; }
  .column .column, .column .columns, .columns .column, .columns .columns {
    margin-right: 0;
    margin-left: 0; }
    @media screen and (min-width: 720px) {
      .column .column, .column .columns, .columns .column, .columns .columns {
        margin-right: 0;
        margin-left: 20px; }
        .column .column:first-child, .column .column.first, .column .columns:first-child, .column .columns.first, .columns .column:first-child, .columns .column.first, .columns .columns:first-child, .columns .columns.first {
          margin-left: 0; } }

.one {
  width: 300px; }

.two {
  width: 300px; }

.three {
  width: 300px; }

.four {
  width: 300px; }

.five {
  width: 300px; }

.six {
  width: 300px; }

.seven {
  width: 300px; }

.eight {
  width: 300px; }

.nine {
  width: 300px; }

.ten {
  width: 300px; }

.eleven {
  width: 300px; }

.twelve {
  width: 300px; }

.offset.by-one {
  margin-left: 10px; }
.offset.by-two {
  margin-left: 10px; }
.offset.by-three {
  margin-left: 10px; }
.offset.by-four {
  margin-left: 10px; }
.offset.by-five {
  margin-left: 10px; }
.offset.by-six {
  margin-left: 10px; }
.offset.by-seven {
  margin-left: 10px; }
.offset.by-eight {
  margin-left: 10px; }
.offset.by-nine {
  margin-left: 10px; }
.offset.by-ten {
  margin-left: 10px; }
.offset.by-eleven {
  margin-left: 10px; }

.without-margin.one {
  width: 320px; }
.without-margin.two {
  width: 320px; }
.without-margin.three {
  width: 320px; }
.without-margin.four {
  width: 320px; }
.without-margin.five {
  width: 320px; }
.without-margin.six {
  width: 320px; }
.without-margin.seven {
  width: 320px; }
.without-margin.eight {
  width: 320px; }
.without-margin.nine {
  width: 320px; }
.without-margin.ten {
  width: 320px; }
.without-margin.eleven {
  width: 320px; }
.without-margin.twelve {
  width: 320px; }

@media screen and (min-width: 720px) {
  .one {
    width: 40px; }

  .two {
    width: 100px; }

  .three {
    width: 160px; }

  .four {
    width: 220px; }

  .five {
    width: 280px; }

  .six {
    width: 340px; }

  .seven {
    width: 400px; }

  .eight {
    width: 460px; }

  .nine {
    width: 520px; }

  .ten {
    width: 580px; }

  .eleven {
    width: 640px; }

  .twelve {
    width: 700px; }

  .offset.by-one {
    margin-left: 70px; }
  .offset.by-two {
    margin-left: 130px; }
  .offset.by-three {
    margin-left: 190px; }
  .offset.by-four {
    margin-left: 250px; }
  .offset.by-five {
    margin-left: 310px; }
  .offset.by-six {
    margin-left: 370px; }
  .offset.by-seven {
    margin-left: 430px; }
  .offset.by-eight {
    margin-left: 490px; }
  .offset.by-nine {
    margin-left: 550px; }
  .offset.by-ten {
    margin-left: 610px; }
  .offset.by-eleven {
    margin-left: 670px; }

  .without-margin.one {
    width: 120px; }
  .without-margin.two {
    width: 180px; }
  .without-margin.three {
    width: 240px; }
  .without-margin.four {
    width: 240px; }
  .without-margin.five {
    width: 360px; }
  .without-margin.six {
    width: 360px; }
  .without-margin.seven {
    width: 360px; }
  .without-margin.eight {
    width: 360px; }
  .without-margin.nine {
    width: 360px; }
  .without-margin.ten {
    width: 360px; }
  .without-margin.eleven {
    width: 360px; }
  .without-margin.twelve {
    width: 720px; } }
@media screen and (min-width: 960px) {
  .one {
    width: 60px; }

  .two {
    width: 140px; }

  .three {
    width: 220px; }

  .four {
    width: 300px; }

  .five {
    width: 380px; }

  .six {
    width: 460px; }

  .seven {
    width: 540px; }

  .eight {
    width: 620px; }

  .nine {
    width: 700px; }

  .ten {
    width: 780px; }

  .eleven {
    width: 860px; }

  .twelve {
    width: 940px; }

  .offset.by-one {
    margin-left: 90px; }
  .offset.by-two {
    margin-left: 170px; }
  .offset.by-three {
    margin-left: 250px; }
  .offset.by-four {
    margin-left: 330px; }
  .offset.by-five {
    margin-left: 410px; }
  .offset.by-six {
    margin-left: 490px; }
  .offset.by-seven {
    margin-left: 570px; }
  .offset.by-eight {
    margin-left: 650px; }
  .offset.by-nine {
    margin-left: 730px; }
  .offset.by-ten {
    margin-left: 810px; }
  .offset.by-eleven {
    margin-left: 890px; }

  .without-margin.one {
    width: 80px; }
  .without-margin.two {
    width: 160px; }
  .without-margin.three {
    width: 240px; }
  .without-margin.four {
    width: 320px; }
  .without-margin.five {
    width: 400px; }
  .without-margin.six {
    width: 480px; }
  .without-margin.seven {
    width: 560px; }
  .without-margin.eight {
    width: 640px; }
  .without-margin.nine {
    width: 720px; }
  .without-margin.ten {
    width: 800px; }
  .without-margin.eleven {
    width: 880px; }
  .without-margin.twelve {
    width: 960px; } }
@media screen and (min-width: 720px) {
  .mobile-only {
    display: none; } }

@media screen and (max-width: 720px) {
  .tablet-only {
    display: none; } }
@media screen and (min-width: 960px) {
  .tablet-only {
    display: none; } }

@media screen and (max-width: 960px) {
  .desktop-only {
    display: none; } }
