
html, body {
	margin			: 0;
	padding			: 0;
	
	text-align	: center;
	
	height			: 100%;
}

.row {
	overflow		: auto;
	display			: block;
	margin			: 0 auto;
	text-align	: left;
	width				: $concrete-mobile-width;
	@media screen and (min-width: $concrete-tablet-transition) {
		width			: $concrete-tablet-width;
	}
	@media screen and (min-width: $concrete-desktop-transition) {
		width			: $concrete-desktop-width;
	}
}

.column, .columns {
	margin-left		: $concrete-margin;
	margin-right	: $concrete-margin;
	float					: left;
	
	.column, .columns {
		margin-right		: 0;
		margin-left			: 0;
		@media screen and (min-width: $concrete-tablet-transition) {
			margin-right	: 0;
			margin-left		: $concrete-margin * 2;

			&:first-child, &.first {
				margin-left	: 0;
			}
		}
	}
}

.one						{ @include column-width(12,		$concrete-mobile-width); }
.two						{ @include column-width(12,		$concrete-mobile-width); }
.three					{ @include column-width(12,		$concrete-mobile-width); }
.four						{ @include column-width(12,		$concrete-mobile-width); }
.five						{ @include column-width(12,		$concrete-mobile-width); }
.six						{ @include column-width(12,		$concrete-mobile-width); }
.seven					{ @include column-width(12,		$concrete-mobile-width); }
.eight					{ @include column-width(12,		$concrete-mobile-width); }
.nine						{ @include column-width(12,		$concrete-mobile-width); }
.ten						{ @include column-width(12,		$concrete-mobile-width); }
.eleven					{ @include column-width(12,		$concrete-mobile-width); }
.twelve					{ @include column-width(12,		$concrete-mobile-width); }

.offset {
	&.by-one			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-two			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-three		{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-four			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-five			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-six			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-seven		{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-eight		{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-nine			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-ten			{ @include offset-margin(0,		$concrete-mobile-width); }
	&.by-eleven		{ @include offset-margin(0,		$concrete-mobile-width); }
}
@media screen and (min-width: $concrete-tablet-transition) {
	.one					{ @include column-width(1,		$concrete-tablet-width); }
	.two					{ @include column-width(2,		$concrete-tablet-width); }
	.three				{ @include column-width(3,		$concrete-tablet-width); }
	.four					{ @include column-width(4,		$concrete-tablet-width); }
	.five					{ @include column-width(5,		$concrete-tablet-width); }
	.six					{ @include column-width(6,		$concrete-tablet-width); }
	.seven				{ @include column-width(7,		$concrete-tablet-width); }
	.eight				{ @include column-width(8,		$concrete-tablet-width); }
	.nine					{ @include column-width(9,		$concrete-tablet-width); }
	.ten					{ @include column-width(10,		$concrete-tablet-width); }
	.eleven				{ @include column-width(11,		$concrete-tablet-width); }
	.twelve				{ @include column-width(12,		$concrete-tablet-width); }
	
	.offset {
		&.by-one		{ @include offset-margin(1,		$concrete-tablet-width); }
		&.by-two		{ @include offset-margin(2,		$concrete-tablet-width); }
		&.by-three	{ @include offset-margin(3,		$concrete-tablet-width); }
		&.by-four		{ @include offset-margin(4,		$concrete-tablet-width); }
		&.by-five		{ @include offset-margin(5,		$concrete-tablet-width); }
		&.by-six		{ @include offset-margin(6,		$concrete-tablet-width); }
		&.by-seven	{ @include offset-margin(7,		$concrete-tablet-width); }
		&.by-eight	{ @include offset-margin(8,		$concrete-tablet-width); }
		&.by-nine		{ @include offset-margin(9,		$concrete-tablet-width); }
		&.by-ten		{ @include offset-margin(10,	$concrete-tablet-width); }
		&.by-eleven	{ @include offset-margin(11,	$concrete-tablet-width); }
	}
}
@media screen and (min-width: $concrete-desktop-transition) {
	.one					{ @include column-width(1,		$concrete-desktop-width); }
	.two					{ @include column-width(2,		$concrete-desktop-width); }
	.three				{ @include column-width(3,		$concrete-desktop-width); }
	.four					{ @include column-width(4,		$concrete-desktop-width); }
	.five					{ @include column-width(5,		$concrete-desktop-width); }
	.six					{ @include column-width(6,		$concrete-desktop-width); }
	.seven				{ @include column-width(7,		$concrete-desktop-width); }
	.eight				{ @include column-width(8,		$concrete-desktop-width); }
	.nine					{ @include column-width(9,		$concrete-desktop-width); }
	.ten					{ @include column-width(10,		$concrete-desktop-width); }
	.eleven				{ @include column-width(11,		$concrete-desktop-width); }
	.twelve				{ @include column-width(12,		$concrete-desktop-width); }
	
	.offset {
		&.by-one		{ @include offset-margin(1,		$concrete-desktop-width); }
		&.by-two		{ @include offset-margin(2,		$concrete-desktop-width); }
		&.by-three	{ @include offset-margin(3,		$concrete-desktop-width); }
		&.by-four		{ @include offset-margin(4,		$concrete-desktop-width); }
		&.by-five		{ @include offset-margin(5,		$concrete-desktop-width); }
		&.by-six		{ @include offset-margin(6,		$concrete-desktop-width); }
		&.by-seven	{ @include offset-margin(7,		$concrete-desktop-width); }
		&.by-eight	{ @include offset-margin(8,		$concrete-desktop-width); }
		&.by-nine		{ @include offset-margin(9,		$concrete-desktop-width); }
		&.by-ten		{ @include offset-margin(10,	$concrete-desktop-width); }
		&.by-eleven	{ @include offset-margin(11,	$concrete-desktop-width); }
	}
}

.mobile-only {
	@media screen and (min-width: $concrete-tablet-transition) {
		display		: none;
	}
}

.tablet-only {
	@media screen and (max-width: $concrete-tablet-transition) {
		display		: none;
	}
	
	@media screen and (min-width: $concrete-desktop-transition) {
		display		: none;
	}
}

.desktop-only {
	@media screen and (max-width: $concrete-desktop-transition) {
		display		: none;
	}
}