@mixin column-width(
	$columns		: 1,
	$width			: $concrete-desktop-width,
	$px-offset	: 0
){
		width				: (($width / 12) * $columns - $concrete-margin * 2) - $px-offset;
}

@mixin column-width-without-margin(
	$columns		: 1,
	$width			: $concrete-desktop-width,
	$px-offset	: 0
){
	width				: (($width / 12) * $columns) - $px-offset;
} 


@mixin offset-margin(
	$columns		: 1,
	$width			: $concrete-desktop-width,
	$px-offset	: 0
){
	margin-left	: (($width / 12) * $columns + $concrete-margin) - $px-offset;
}