$concrete-margin							: 10px;

$concrete-desktop-transition	: 960px;
$concrete-desktop-width				: 960px;

$concrete-tablet-transition		: 720px;
$concrete-tablet-width				: 720px;

$concrete-mobile-transition		: 320px;
$concrete-mobile-width				: 320px;